<div class="container">
    <footer class="footer">
        
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Lisence", '#' %>
            </ul>
        </nav>

        <small>
            Copyright by El Pato ziggotron lda      &copy; <a href="#">Ziggotronics.lda  </a> by <a href="#">Elpato</a> &copy;
            Udemy
        </small>
    </footer>
</div>